# MODULE 3: LINEAR REGRESSION FROM SCRATCH

    *************************************************************
    Author:  Adeyemi Adedoyin Simeon
    Program: MSc, Computer Science, University of Ibadan
    Course:  Machine Learning
    Date:    26th May, 2019
    Version: 1.2
    E-mail:  adeyemi.sa1@gmail.com
    *************************************************************
    
    *Note: Please reference the author whenever and wherever you use all/portion of this code*

## IMPLEMENTING THE SIMPLE LINEAR REGRESSION

In [1]:
import numpy as np
import pandas as pd

In [2]:
def my_mean(values):
    return (sum(values) / len(values))

In [3]:
def variance(x_values, x_mean):
    return sum([(x - x_mean)**2 for x in x_values])

In [4]:
def covariance(x_values, y_values, x_mean, y_mean):
    ans = 0.0
    for i in range(len(x_values)):
        ans += ((x_values[i] - x_mean) * (y_values[i] - y_mean))
    
    return ans

In [5]:
# Slope
def coefficientB1(variance_value, covariance_value):
    return (covariance_value / variance_value)

In [6]:
# y_intercept
def coefficientB0(coef_B1_value, x_mean, y_mean):
    return (y_mean - coef_B1_value * x_mean)

In [7]:
def simple_linear_regression(train, test):
    predictions = list()
    x = [row[0] for row in train]
    y = [row[1] for row in train]
    x_mean = my_mean(x)
    y_mean = my_mean(y)
    
    variance_val = variance(x, x_mean)
    co_variance_val = covariance(x, y, x_mean, y_mean)
    
    b1 = coefficientB1(variance_val, co_variance_val)
    b0 = coefficientB0(b1, x_mean, y_mean)
    
    for row in test:
        y_predict = b0 + b1 * row[0]
        predictions.append(y_predict)
    
    return predictions

In [8]:
def simple_linear_regression2(x_train, y_train, x_test, y_test):
    predictions = list()
    x, y = x_train, y_train
    x_mean, y_mean = my_mean(x), my_mean(y)
    variance_val = variance(x, x_mean)
    co_variance_val = covariance(x, y, x_mean, y_mean)
    
    b1 = coefficientB1(variance_val, co_variance_val)
    b0 = coefficientB0(b1, x_mean, y_mean)
    
    predictions = [(b0 + b1 * x_val) for x_val in x_test]
    
    return predictions

In [9]:
def get_true_values(test):
    return ([row[1] for row in test])

In [10]:
def mean_absolute_err(y_true, predictions):
    err = np.array(y_true) - np.array(predictions)
    return sum(np.array(y_true) - np.array(predictions))

In [11]:
def mean_squared_err(y_true, predictions):
    err = np.array(y_true) - np.array(predictions)
    return sum(err**2)

In [12]:
def root_mean_sq_err(y_true, predictions):
    mse = mean_squared_err(y_true, predictions)
    return np.sqrt(mse)

## Importing The Dataset

In [13]:
from sklearn.datasets import load_boston

In [14]:
ds = load_boston()

In [15]:
dataset = pd.DataFrame(data=ds.data,columns=ds.feature_names)

In [16]:
dataset['PRICE'] = ds.target

In [17]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

### Extracting the First 20 rows of the Bostin Housing dataset

In [18]:
first_twenty = dataset[:20]

In [19]:
first_twenty

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0.0,0.524,6.377,94.3,6.3467,5.0,311.0,15.2,392.52,20.45,15.0
11,0.11747,12.5,7.87,0.0,0.524,6.009,82.9,6.2267,5.0,311.0,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0.0,0.524,5.889,39.0,5.4509,5.0,311.0,15.2,390.50,15.71,21.7
13,0.62976,0.0,8.14,0.0,0.538,5.949,61.8,4.7075,4.0,307.0,21.0,396.90,8.26,20.4
14,0.63796,0.0,8.14,0.0,0.538,6.096,84.5,4.4619,4.0,307.0,21.0,380.02,10.26,18.2
15,0.62739,0.0,8.14,0.0,0.538,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47,19.9
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58,23.1
17,0.78420,0.0,8.14,0.0,0.538,5.990,81.7,4.2579,4.0,307.0,21.0,386.75,14.67,17.5
18,0.80271,0.0,8.14,0.0,0.538,5.456,36.6,3.7965,4.0,307.0,21.0,288.99,11.69,20.2
19,0.72580,0.0,8.14,0.0,0.538,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2

## Calculating Mean, variance, Covariance, b1 coeff. and b0-coef. for the first 20 rows of each attribute

In [29]:
# Loop through all column except the last (target variable i.e. first_twenty.columns[-1]) 
# and for each column, calculate the mean, variance, co_var,  and coef.
results = pd.DataFrame(data=[],index=first_twenty.columns[:-1],columns=['Mean','Variance','Covariance','coef_B1','coef_Bo'])

for i,col in enumerate(first_twenty.columns[:-1]):
    x_vals = first_twenty[col]
    y_vals = first_twenty[first_twenty.columns[-1]]
    
    mean_x = my_mean(x_vals)
    mean_y = my_mean(y_vals)
    
    vari = variance(x_vals, mean_x)
    co_var = covariance(x_vals, y_vals, mean_x, mean_y)
    b1 = coefficientB1(vari, co_var)
    b0 = coefficientB0(b1, mean_x, mean_y)
    
    # add results to table
    results.iloc[i] = [mean_x, vari, co_var, b1, b0]
    
    print(i+1,'.) FOR ATTRIBUTE \"'+ col+ '\":\n')
    print('-' * 80)
    print('\nMean = ', mean_x)
    print('\nVariance = ', vari)
    print('\nCovariance = ', co_var)
    print('\nb1 coefficient (x coef) = ', b1)
    print('\nb0 coefficient (y intercept) = ', b0)
    print('\n','-' * 80)
    print('\n\n')

1 .) FOR ATTRIBUTE "CRIM":

--------------------------------------------------------------------------------

Mean =  0.32521000000000005

Variance =  2.1624774500000004

Covariance =  -17.823946

b1 coefficient (x coef) =  -8.242373117000595

b0 coefficient (y intercept) =  25.53550216137976

 --------------------------------------------------------------------------------



2 .) FOR ATTRIBUTE "ZN":

--------------------------------------------------------------------------------

Mean =  5.275

Variance =  861.2374999999995

Covariance =  -216.70250000000004

b1 coefficient (x coef) =  -0.2516175851608879

b0 coefficient (y intercept) =  24.18228276172368

 --------------------------------------------------------------------------------



3 .) FOR ATTRIBUTE "INDUS":

--------------------------------------------------------------------------------

Mean =  6.753

Variance =  104.87842

Covariance =  -190.10129999999992

b1 coefficient (x coef) =  -1.81258737498143

b0 coefficient (y intercept) =  35.09540254324959

 --------------------------------------------------------------------------------



4 .) FOR ATTRIBUTE "CHAS":

--------------------------------------------------------------------------------

Mean =  0.0

Variance =  0.0

Covariance =  0.0

b1 coefficient (x coef) =  nan

b0 coefficient (y intercept) =  nan

 --------------------------------------------------------------------------------



5 .) FOR ATTRIBUTE "NOX":

--------------------------------------------------------------------------------

Mean =  0.5142000000000001

Variance =  0.01876520000000002

Covariance =  -2.8437200000000016

b1 coefficient (x coef) =  -151.5422164432033

b0 coefficient (y intercept) =  100.77800769509514

 --------------------------------------------------------------------------------



6 .) FOR ATTRIBUTE "RM":

--------------------------------------------------------------------------------

Mean =  6.1918500000000005

Variance =  4.40707455

Covariance =  45.623065000000004

b1 coefficient (x coef) =  10.352233546854796

b0 coefficient (y intercept) =  -41.244477287092884

 --------------------------------------------------------------------------------



7 .) FOR ATTRIBUTE "AGE":

--------------------------------------------------------------------------------

Mean =  67.42999999999999

Variance =  7944.741999999999

Covariance =  -992.2529999999997

b1 coefficient (x coef) =  -0.12489430116169913

b0 coefficient (y intercept) =  31.27662272733337

 --------------------------------------------------------------------------------



8 .) FOR ATTRIBUTE "DIS":

--------------------------------------------------------------------------------

Mean =  5.221889999999999

Variance =  16.000854497999995

Covariance =  22.483300999999997

b1 coefficient (x coef) =  1.4051312698837595

b0 coefficient (y intercept) =  15.517559073106693

 --------------------------------------------------------------------------------



9 .) FOR ATTRIBUTE "RAD":

--------------------------------------------------------------------------------

Mean =  3.85

Variance =  26.549999999999997

Covariance =  -73.33500000000004

b1 coefficient (x coef) =  -2.7621468926553687

b0 coefficient (y intercept) =  33.48926553672317

 --------------------------------------------------------------------------------



10 .) FOR ATTRIBUTE "TAX":

--------------------------------------------------------------------------------

Mean =  288.6

Variance =  23586.799999999985

Covariance =  -3304.360000000001

b1 coefficient (x coef) =  -0.1400936116811099

b0 coefficient (y intercept) =  63.28601633116832

 --------------------------------------------------------------------------------



11 .) FOR ATTRIBUTE "PTRATIO":

--------------------------------------------------------------------------------

Mean =  18.02

Variance =  126.71200000000007

Covariance =  1.3079999999999963

b1 coefficient (x coef) =  0.010322621377612187

b0 coefficient (y intercept) =  22.668986362775424

 --------------------------------------------------------------------------------



12 .) FOR ATTRIBUTE "B":

--------------------------------------------------------------------------------

Mean =  387.20599999999996

Variance =  10591.685279999996

Covariance =  507.35839999999996

b1 coefficient (x coef) =  0.04790157435644653

b0 coefficient (y intercept) =  4.307222999737764

 --------------------------------------------------------------------------------



13 .) FOR ATTRIBUTE "LSTAT":

--------------------------------------------------------------------------------

Mean =  11.544

Variance =  841.67648

Covariance =  -486.2554

b1 coefficient (x coef) =  -0.5777224522182205

b0 coefficient (y intercept) =  29.524227988407134

 --------------------------------------------------------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
results

            Mean   Variance Covariance    coef_B1  coef_Bo
CRIM     0.32521    2.16248   -17.8239   -8.24237  25.5355
ZN         5.275    861.237   -216.703  -0.251618  24.1823
INDUS      6.753    104.878   -190.101   -1.81259  35.0954
CHAS           0          0          0        NaN      NaN
NOX       0.5142  0.0187652   -2.84372   -151.542  100.778
RM       6.19185    4.40707    45.6231    10.3522 -41.2445
AGE        67.43    7944.74   -992.253  -0.124894  31.2766
DIS      5.22189    16.0009    22.4833    1.40513  15.5176
RAD         3.85      26.55    -73.335   -2.76215  33.4893
TAX        288.6    23586.8   -3304.36  -0.140094   63.286
PTRATIO    18.02    126.712      1.308  0.0103226   22.669
B        387.206    10591.7    507.358  0.0479016  4.30722
LSTAT     11.544    841.676   -486.255  -0.577722  29.5242

ValueError: cannot copy sequence with size 0 to array axis with dimension 5

In [27]:
results

        Mean Variance Covariance coef_B1 coef_Bo
CRIM      12       15         12      17      32
ZN       NaN      NaN        NaN     NaN     NaN
INDUS    NaN      NaN        NaN     NaN     NaN
CHAS     NaN      NaN        NaN     NaN     NaN
NOX      NaN      NaN        NaN     NaN     NaN
RM       NaN      NaN        NaN     NaN     NaN
AGE      NaN      NaN        NaN     NaN     NaN
DIS      NaN      NaN        NaN     NaN     NaN
RAD      NaN      NaN        NaN     NaN     NaN
TAX      NaN      NaN        NaN     NaN     NaN
PTRATIO  NaN      NaN        NaN     NaN     NaN
B        NaN      NaN        NaN     NaN     NaN
LSTAT    NaN      NaN        NaN     NaN     NaN